body {
  margin: 0;
  padding: 0;
  
}
* {
  box-sizing: border-box;
}
/* span-3d */
.span-3d{
  font-size: 150px;
  color:rgb(196, 193, 188);
  text-shadow: 0 0 2px #dfdfdf, 
      -4px 5px 0 #9a0808f7, 
      -7px 11px 0 #05637d,
      -12px 17px 0 #440f0f,
      -17px 23px 0 #000;
}
.span-3d2{
  font-size: 50px;
  color:rgb(196, 193, 188);
  text-shadow: 0 0 2px #dfdfdf, 
      -4px 2px 0 #9a0808f7, 
      -7px 7px 0 #05637d,
      -12px 10px 0 #440f0f,
      -17px 10px 0 #000;
}
/* contact-container */
.contact-container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}
/* row-container */
 /* Clear floats after the columns */
 .row-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Popular courses */
.popular-hover:hover{
  padding: 5px;
  cursor: pointer;
  color: #dedada;
  }
  .caption-container{
    background-color: #f7fcfd;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Create three equal columns that floats next to each other */
.column-container {
  float: left;
  width: 33.33%;
  padding: 10px;

}

 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
  .column-container {
    width: 100%;
  }
}

/* top navbar */
.navBarTop {

  background-color: rgb(2, 2, 105);
}
/* Background Button */
.btnBg{
  background-color: rgb(2, 2, 105);
  color: white;
}
.navBrand
{
  font-family: Arial Black;
  font-weight: bold;
 
}
.span{
  color: white;
  background-color: rgb(28, 145, 12);
  border-radius: 5px;
  float: right;
  padding: 3px;
  font-size: 10px; 
  font-weight: bold;
}
.span-coming-soon{
  color: white;
  background-color: rgb(238, 67, 201);
  border-radius: 5px;
  float: right;
  padding: 3px;
  font-size: 10px; 
  font-weight: bold;

}

/* color for learn-image-caption */
.eff{
  color: navy;
   font-weight: normal;
}
/* display block of learn-image-caption for small devices */
@media only screen and (max-width: 600px) {
  .parent-container {
      
      display: block;
  }
}
@media only screen and (min-width: 480px) {

  .parent-container {
      
      display: flex;
      justify-content: space-evenly
      
  }
  .parent-container1 {
      
      display: flex;
      justify-content: space-between;
      
      
  }
  .child-container1{
    flex: 50%;
    margin: 10px;
  }
  .instructor-visibility{
    visibility: hidden;
  }
  .child-container{
    flex: 60%;
    margin: 25px;
    
  }
  .child-container3{
    flex: 40%;
    margin: 25px;
    
  }
  .child-container2{
    flex: 50%;
    margin: 10px;
  }
}

/* learnImg hover */
.learnImg:hover{
  background-color: black;
 
 
}
/* 
s Hover */

.course-cardHover :hover{
color: black;
cursor: pointer;
padding: 1px;
}
.cardHover :hover{

color: black;
cursor: pointer;
padding: 1px;
}
.hover-text{
  color: white;
}
.navBar {

  background-color: white;
}
.navitem{
  color: black;
}

.cusText {
  font-size: 14px;
}
.btnBg:hover{
  background-color: rgb(2, 2, 105);
  color: white;
}



/*Large Screens*/
@media screen and (min-width: 480px) {

.search-width{
  width: 500px;
}

  .online-tutor{
    object-fit: cover;
    height: 350px;
    width:100%;
  }
 

#pdf-section{
  background-color: rgb(239, 232, 232);
  margin-bottom: 15px;
}


  .course-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-7%);
  }
  .about-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .about-container {
    padding: 0 16px;
  }
  
  .about-container::after, .about-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title-container {
    color: grey;
  }
  
  .button-container {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button-container:hover {
    background-color: #555;
  }
  .background-video{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    opacity: 1.8;
    height: 550px;
   
    
  }

 



  /* Centered text */
.centered {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  color: white;
  
 
}
.linearBg{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:81.5%;
  
}
.linearBgCopy{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:78.5%;
  
}


.contact-overlay{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:100%;
  
}
.text-overlay{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 33, 0.452));
  opacity: 0.9;
  height:100%;
  
}
 
.programBg{
  height: 610px;
  object-fit: cover;

}
.mainText{
  font-size: 40px;
  font-family: Tahoma;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.767);
}
.popular-hover{
  width: 100%;
}

}
/*Medium Screens*/
@media  screen and (max-width: 1024px) {
  .linearBg{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:75%;
  
}
.contact-overlay{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:100%;
  
}
.text-overlay{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 33, 0.452));
  opacity: 0.9;
  height:100%;
  
}


.pdf-container{
  background-color: rgb(237, 231, 231);
  width: 100%;
  
}
  .course-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-7%);
  }
  /* background-video for contact layout */
.backgroundVideo{
  width: 100%;
  height: 350px;
  background-color: rgb(1, 1, 9);
}
  .about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .about-container {
    padding: 0 16px;
  }
  
  .about-container::after, .about-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title-container {
    color: grey;
  }
  
  .button-container {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button-container:hover {
    background-color: #555;
  }

  .popular-hover{
    width: 90%;
  }
  .linearBgCopy{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:78.5%;
    
  }
}

@media  screen and (max-width: 768px) {
  .pdf-container{
    background-color: rgb(237, 231, 231);
    width: 100%;
    
  }
  .contact-overlay{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:100%;
    
  }
  .text-overlay{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 33, 0.452));
    opacity: 0.9;
    height:100%;
    
  }
  .course-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-7%);
  }
  .about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .about-container {
    padding: 0 16px;
  }
  
  .about-container::after, .about-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title-container {
    color: grey;
  }
  
  .button-container {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button-container:hover {
    background-color: #555;
  }

  .linearBg{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:78.1%;
    
  }
  .linearBgCopy{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:78%;
    
  }
  .popular-hover{
    width: 100%;
  }
  /* Centered text */
.centered {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
 
}
.mainText{
        font-size: 40px;
        font-family: Tahoma;
        text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.767);
    }
    .headText{
      font-family:Consolas;
    }
}
@media  screen and (max-width: 900px) {
  .pdf-container{
    background-color: rgb(237, 231, 231);
    width: 100%;
    
  }
  .contact-overlay{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:100%;
    
  }
  .text-overlay{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 33, 0.452));
    opacity: 0.9;
    height:100%;
    
  }
  /* background-video for contact layout */
.backgroundVideo{
  width: 100%;
  height: 300px;
  background-color: rgb(1, 1, 9);
}
  .about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .about-container {
    padding: 0 16px;
  }
  
  .about-container::after, .about-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title-container {
    color: grey;
  }
  
  .button-container {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button-container:hover {
    background-color: #555;
  }
  /* Centered text */
.centered {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -155%);
  color: white;
 
}
.linearBg{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:71.5%;
  
}
.mainText{
        font-size: 40px;
        font-family: Tahoma;
        text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.767);
    }
    .headText{
      font-family:Consolas;
    }
}
/*smaller Screens for e-learning caption*/

@media  screen and (max-width: 600px) {
  .pdf-container{
    background-color: rgb(237, 231, 231);
    width: 100%;
    
  }
  .search-width{
    width: 310px;
  }
  .online-tutor{
    object-fit: cover;
    height: 350px;
    width:100%;
  }
  .small-device-visibility{
    visibility: hidden;
  }

  .Group-learning{
    object-fit: cover;
    height: 350px;
  }
  
  .contact-overlay{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:100%;
    
  }

  .text-overlay{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 33, 0.452));
    opacity: 0.9;
    height:100%;
    
  }

  .course-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-3%);
  }
 /* team cards */
 .background-video{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  opacity: 1.8;
  height:350px;
 
  
}
/* background-video for contact layout */
.backgroundVideo{
  width: 100%;
  height: 200px;
  background-color: rgb(1, 1, 9);
}
 .about-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-container {
  padding: 0 16px;
}

.about-container::after, .about-row::after {
  content: "";
  clear: both;
  display: table;
}

.title-container {
  color: grey;
}

.button-container {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-container:hover {
  background-color: #555;
}
 .about-column {
  width: 100%;
  display: block;
}

  .custom-footer{
    position: relative;
    top: 50%;
    left: 20%;
    transform:translate(-30%,-8%); 
}

  /* Centered text */
.centered {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  color: white;
 
}
.mainText{
  font-size: 23px;
  font-family: Tahoma;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.767);
}
.headText{
  font-family:Consolas;
}
.linearBg{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:54%;
  
}
.linearBgCopy{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:65.5%;
  
}

}
@media  screen and (max-width: 390px) {
  .pdf-container{
    background-color: rgb(237, 231, 231);
    width: 100%;
    
  }
  .contact-overlay{
    background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
    opacity: 0.9;
    height:100%;
    
  }
  .text-overlay{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(36, 36, 33, 0.452));
    opacity: 0.9;
    height:100%;
    
    }
  .course-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-3%);
  }
  /* team cards */
  .about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .about-container {
    padding: 0 16px;
  }
  
  .about-container::after, .about-row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title-container {
    color: grey;
  }
  
  .button-container {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button-container:hover {
    background-color: #555;
  }
  /* Centered text */
.centered {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -97%);
  color: white;
 
}
.mainText{
  font-size: 23px;
  font-family: Tahoma;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.767);
}
.headText{
  font-family:Consolas;
}
.linearBg{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:48.5%;
  
}
.linearBgCopy{
  background-image: linear-gradient(to right, rgb(2, 2, 105), rgba(255, 255, 0, 0.452));
  opacity: 0.9;
  height:59.5%;
  
}
}


/*Newletter*/
.subscription.bg-white {
  background: none
}

.bg-white {
  background-color: #fff !important
}

.subscription.bg-white .subscription-wrapper {
  background: #fff
}

.subscription-wrapper {
  border-radius: 0% 5% 10% 3%/10% 20% 0% 17%;
  -webkit-transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
  transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
  padding: 70px 50px;
  z-index: 1;
  width: 100%;
  background: linear-gradient(80deg, #0030cc 0%, #00a4db 100%);
  position: relative;
  
}

.subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

.subscription-content {
  -webkit-transform: skewY(-1deg);
  transform: skewY(-1deg)
}


.subText {
  font-size: 30px;
  color: rgb(2, 2, 105);
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important
}

.subscription.bg-white .form-control {
  border: 1px solid #ebebeb !important
}

.subscription-wrapper .form-control {
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 45px
}

.subscription-wrapper .form-control:focus {
  background: rgba(255, 255, 255, 0.1);
  outline: 0;
  box-shadow: none
}

.btnBgS:not(:disabled):not(.disabled) {
  cursor: pointer
}

.btnBgP {
  border: 0;
  color: #fff
}

.btnBgS {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 18px 45px;
  border-radius: 45px;
  font-weight: 500;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden
}

.btnBgP:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: linear-gradient(45deg, #00a8f4 0%, rgb(2, 2, 105) 100%);
  z-index: -1;
  transition: ease 0.3s
}

/* footer layout css */
.customFooter
{
  background-color: rgb(2, 2, 105);
  color: white;
}
.borderBtn:hover{
  border-bottom: 2px solid white;
}


/* About Layout Css */
.card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.btnbg {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.ahover {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

btnbg:hover, .ahover:hover {
  opacity: 0.7;
}

/* Side Navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(2, 2, 105);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 50px;
  
}

.sidenav a {
  padding: 8px 7px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.control-panel {
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
}

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: lightgray;
}
